body,html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family: Algerian;
    font-weight: 400;
    line-height:1.8em;
    color:grey;
}

.image-1, .image-2, .image-3{
    position: relative;
    opacity:0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-1{
    background-image: url('tek4.jpg');
    min-height:100%;
}

.image-2{
    background-image: url('tek2.jpg');
    min-height:400px;
}

.image-3{
    background-image: url('tek3.jpg');
    min-height:400px;
}

.section{
    text-align: center;
    padding:50px 80px;
}

.section-blue{
    background-color:rgb(69, 79, 165);
    color:white;
}

.section-dark{
    background-color:rgb(88, 86, 86);
    color:white;
}

.ptext{
    position:absolute;
    top:50%;
    width: 100%;
    text-align:center;
    color:#000;
    font-size:30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
background-color: black;
color:white;
padding: 20px; 
}

.ptext .border.trans{
    bacground-color:transparent;
}